<div id='cont'>
  <h2>Serviços</h2>
<section id='servicos'>

    <% for(let servico of listaServicos) { %>

      <div class="card" >
        <img src="<%= servico.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><%= servico.desc %></p>
        </div>
      </div>

    <% } %>

</section>
<div>