.carousel-inner{
  background: linear-gradient(rgb(118, 126, 235),rgb(243, 147, 243));
  background-size: cover;
}

.carousel-inner div{
  height: 83vh;
}

.carousel-inner div img{
  height: 100%;
  padding: 20px;
}

nav{
  background: linear-gradient(rgb(243, 168, 243),rgb(118, 126, 235));
}

img#logo{
  width: 200px;
}

section#servicos{
  display:flex;
  flex-flow: row wrap;

  justify-content: center;
}

#cont{
  padding: 70px 20px 20px 20px;
  background: linear-gradient(rgb(238, 146, 242),rgb(118, 126, 235));
  min-height: 100vh;
  height: auto;
}

section#servicos div.card{
  margin: 20px;
  padding: 20px;

  width: 300px;
  height: 500px;

  background: rgb(241, 146, 241);


  transition: 400ms;
}

section#servicos div.card:hover{
  box-shadow: 10px 10px 10px rgb(250, 125, 250);
  background:linear-gradient(orange,violet);
  width: 340px;

  color:white;

}

section#servicos div.card img{
  height: 300px;
}

section#servicos div.card p{
  font-weight: bold;
  text-align: center;
  color: rgb(100, 84, 84);
}

h2{
  text-align: center;
}

section#about{
  display:flex;
  flex-flow: row wrap;

  padding: 80px 20px 20px 20px;
}

section#about img{
  width: 100%;
}

section#about div{
  width: 50%;
}

p, h2{
  color:white;
  font-weight: bold;
}

section#about div:nth-child(2){
  padding: 20px;

}